@font-face {
  font-family: "fanwood";
  src: src("../assets/fonts/Fanwoodtext-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: src("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: clamp(12px, 0.8vw, 200px);
}

body,
button {
  font-family: "poppins", sans-serif;
}

p {
  font-size: $font-size-2;
}

h1 {
  font-size: $font-size-5;
}

h3 {
  font-size: $font-size-3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "fanwood", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  transition: all 0.2s;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  padding: $space-1 $space-2;
}

.container {
  background-color: $foreground-color;
  min-height: 100vh;
  padding-top: 8vh;
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
} ////////////////////////////////////////////

label,
input {
  height: 2rem;
  padding: $space-1 $space-3;
  font-size: $font-size-2;
}

label {
  display: flex;
  align-items: center;
  cursor: text;
  color: $grey-2;
}

input {
  // font-weight: bold;
  background-color: $background-color;
  color: $first-color;
  outline: none;
  border: none;
  border-radius: 15px;
  @include transition();

  &:focus {
    // @include box-shadow(inset);
  }
}

// corrige le backgroud blanc à l'auto-complétion
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 999999s 0s, color 999999s 0s;
}
