@mixin box-shadow($position: initial, $color: $grey-5) {
  box-shadow: $position 1px 1px 5px $color;
}

@mixin transition($property: all, $duration: 0.2s, $timing: linear) {
  transition: $property $duration $timing;
}

// Les valeurs ici sont juste des exemples, vous pouvez les modifier en fonction de vos besoins
$breakpoints: (
  "small": 650px,
  "medium": 800px,
  "large": 1000px,
  "xlarge": 2000px,
);

// Mixin pour les media queries
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn 'Inconnu `#{$breakpoint}` dans les breakpoints map.';
  }
}

@mixin linear-gradient($direction, $color-start, $color-end) {
  background: $color-start;
  background: linear-gradient($direction, $color-start, $color-end);
}
