$foreground-color: #2f2e3d;
$background-color: #23232d;

$first-color: #fbecac;
$second-color: #102770;
$third-color: #b22222;

$red: #e23232;
$blue: #1e43bd;

$white: #ffffff;
$grey-1: #e5e5e5;
$grey-2: #a8a8a8;
$grey-3: #676767;
$grey-4: #282828;
$grey-5: #151515;
$black: #000000;

$space-1: 0.2rem;
$space-2: 0.5rem;
$space-3: 1rem;
$space-4: 1.5rem;
$space-5: 2rem;
$space-6: 4rem;

$font-size-1: 0.8rem;
$font-size-2: 1rem;
$font-size-3: 1.4rem;
$font-size-4: 1.8rem;
$font-size-5: 2rem;
$font-size-6: 3rem;
