$main-color: #ddd0c8;
$second-color: #323232;
$third-color: #f0122d;
$fourth-color: #805959;

$little-space: 0.5rem;
$medium-space: 1rem;
$big-space: 1.5rem;

$font-size-1: 0.6rem;
$font-size-2: 0.8rem;
$font-size-3: 1rem;
$font-size-4: 1.4rem;
$font-size-5: 1.8rem;
