.layout {
  z-index: 1;
  position: absolute;
  inset: 0;
  background-color: rgba($color: $black, $alpha: 0.3);
  animation: showLayoutForm 0.2s;
  backdrop-filter: blur(5px);
}

.modal {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  width: 40%;
  margin: auto;
  padding: $space-6;
  inset: 0;
  background: $foreground-color;
  border-radius: 2px;
  animation: showForm 0.2s;
  height: fit-content;

  &--reset-password {
    width: 100%;
    justify-content: center;

    .modal__form {
      min-width: 300px;
      width: 30%;
      max-width: 1000px;
      margin: $space-3 auto;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: $space-6;
    font-size: $font-size-4;
    color: $first-color;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 80%;
  }

  &__input-container {
    position: relative;
    display: flex;
    margin-bottom: $space-5;

    label,
    input {
      width: 100%;
    }

    label {
      position: absolute;
      top: 0;
      @include transition();
    }

    .filled {
      top: -1.8rem;
    }

    input:focus + label {
      top: -1.8rem;
    }
  }

  &__btn {
    width: 100%;
    margin: auto;
    background-color: $first-color;
    color: $second-color;
    font-size: $font-size-3;
    @include transition();
    border-radius: 15px;

    &:hover {
      background-color: $second-color;
      color: $first-color;
      // @include box-shadow(inset);
    }
  }

  &__forgotten-password {
    color: $grey-2;
    text-decoration: underline;
    margin-bottom: $space-4;
    cursor: pointer;
    @include transition("color");
    width: fit-content;
    font-size: $font-size-1;

    &:hover {
      color: $grey-3;
    }
  }

  &__msg-email-sent {
    text-align: center;
    color: $grey-2;
  }
}
