.book-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__card {
    display: flex;
    margin: $space-6 0;
    height: 20rem;
    width: 80%;
    background-color: $background-color;
    color: $grey-2;

    img {
      height: 100%;
    }

    span {
      color: $white;
    }
  }

  &__infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: $space-3 $space-2;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    // width: 80%;
  }

  &__title {
    color: $first-color;
  }

  &__other-infos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__summary {
    overflow: auto;
  }

  &__comments {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      margin-bottom: $space-5;
    }

    label {
      color: $first-color;
      font-weight: bold;
      padding: 0;
    }

    textarea {
      height: 5rem;
      width: 25rem;
      resize: none;
    }

    button {
      height: fit-content;
      padding: $space-2 $space-3;
      background-color: $second-color;
      color: $first-color;
      border-radius: 5px;
      margin-left: $space-2;

      &:hover {
        background-color: $blue;
      }
    }
  }

  &__comment-inputs {
    display: flex;
  }

  &__comment-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  &__comment-card {
    display: flex;
    color: $white;
    background-color: $background-color;
    width: 50%;
    margin: $space-3 0;

    img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      border-radius: 5px;
      overflow: hidden;
    }
  }

  &__comment-header {
    display: flex;
    justify-content: space-between;
    height: 2rem;
  }

  &__comment-infos {
    padding: $space-2;
    width: 100%;
  }

  &__comment-pseudo {
    color: $first-color;
  }

  &__comment-date {
    color: $grey-3;
  }

  &__comment-message {
    height: 5rem;
    overflow: auto;
  }
}
