.book-list {
  &__section-search {
    display: flex;
    justify-content: center;
    margin: $space-5 0 $space-6;

    input {
      margin-left: $space-2;
      border-radius: 15px 0 0 15px;
    }

    button {
      background-color: $first-color;
      color: $second-color;
      border-radius: 0 15px 15px 0;

      &:hover {
        background-color: $second-color;
        color: $first-color;
      }
    }
  }
}

.book-list {
  &__cards {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    @include respond-to("large") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to("small") {
      grid-template-columns: repeat(1, 1fr);
    }
    gap: $space-5;
  }
}
