.layout {
  position: absolute;
  inset: 0;
  background-color: rgba($color: $black, $alpha: 0.3);
  animation: showLayoutForm 0.2s;
  backdrop-filter: blur(5px);
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 40%;
  margin: auto;
  padding: $space-6;
  inset: 0;
  background: $foreground-color;
  border-radius: 2px;
  animation: showForm 0.2s;
  height: fit-content;

  &__title {
    text-align: center;
    margin-bottom: $space-6;
    font-size: $font-size-4;
    color: $first-color;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 80%;
  }

  &__input-container {
    position: relative;
    display: flex;
    margin-bottom: $space-5;

    label,
    input {
      height: 2rem;
      width: 100%;
      padding: $space-1;
      font-size: $font-size-2;
      padding-left: 10px;
    }

    label {
      position: absolute;
      top: 0;
      @include transition();
      display: flex;
      align-items: center;
      cursor: text;
      color: $grey-2;
    }

    input {
      font-weight: bold;
      background-color: $background-color;
      color: $first-color;
      outline: none;
      border: none;
      border-radius: 15px;
      @include transition();

      &:focus {
        @include box-shadow(inset);
      }
    }

    .filled {
      top: -1.8rem;
    }

    input:focus + label {
      top: -1.8rem;
    }
  }

  &__btn {
    width: 100%;
    margin: auto;
    background-color: $first-color;
    color: $second-color;
    font-size: $font-size-3;
    @include transition();
    border-radius: 15px;

    &:hover {
      background-color: $second-color;
      color: $first-color;
      // @include box-shadow(inset);
    }
  }

  &__forgotten-password {
    color: $grey-2;
    text-decoration: underline;
    margin-bottom: $space-4;
    cursor: pointer;
    @include transition("color");
    width: fit-content;
    font-size: $font-size-1;

    &:hover {
      color: $grey-3;
    }
  }

  &__msg-email-sent {
    text-align: center;
    color: $grey-2;
  }
}
