.my-lists {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  overflow: overlay;

  &__sidebar {
    height: 100%;
    box-shadow: 0 0 5px 0 $grey-5;
    @include box-shadow(bottom, $grey-5);
    background-color: $background-color;
  }

  &__title-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $grey-2;
    height: 5rem;
    width: 10rem;
    background-color: $background-color;
    @include box-shadow(inset, $grey-5);
    cursor: pointer;
    @include transition(all, 0.2s);

    &:hover {
      color: $first-color;
      background-color: $second-color;
      @include box-shadow(inset, $grey-5);
    }

    &.active {
      color: $first-color;
      background-color: $second-color;
      @include box-shadow(inset, $grey-5);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: $space-5;
  }

  &__form-search {
    display: flex;
    justify-content: center;
    margin-bottom: $space-3;

    input {
      border-radius: 15px 0 0 15px;
      background-color: $background-color;
      width: 12rem;
      height: 1.5rem;
    }

    button {
      background-color: $first-color;
      color: $second-color;
      border-radius: 0 15px 15px 0;

      &:hover {
        background-color: $second-color;
        color: $first-color;
      }
    }
  }
}
